<div class="panel panel-default">
  <div class="panel-heading"><h5><b> <a href="#" data-toggle="modal" data-source-type="All" data-name-index="{{index}}" data-target="#modal-for-name">  {{ name|title }}  </a></b> {% if info.fuzzy_names|length %} 
    <span class="text-danger margin-left-10"> Matched Names: </span> {{info.fuzzy_names|join(", ")|title}}   {% endif %} </h5>

  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-4">
            <h5> 
              <strong> Total Appearances </strong> <span class="margin-left-10">
                <a href="#" data-toggle="modal" data-source-type="All" data-name-index="{{index}}" data-target="#modal-for-name">{{info.total_sources}}</a>
              </span>
            </h5>
          </div>

          {% for key, value in info.counted_source %}
            <div class="col-md-4">
              <h5> 
                <strong>{{key}}</strong> 
                <span class="margin-left-10">
                  <a href="#" data-toggle="modal" data-source-type="{{key}}" data-name-index="{{index}}" data-target="#modal-for-name">{{value}}</a>
                </span>
              </h5>
            </div>
          {% endfor%}
        </div>
      </div>
      <div class="col-md-12">
      {% for key, value in info.counted_source %}
        {% if key == "Courts" %}
          <div class="col-md-12 bg-danger">
		<span class="margin-left-5">
		  <h5>WARNING: This record contains courts data. You should be aware that this information must be handled with additional care. Appearances in court are liable to change between publication of the courts list and the day of the hearing.</h5>
                </span>
	  </div>
        {% endif %}
      {% endfor %}
      </div>
      <div class="col-md-12">
        <h4 class="text-muted"><b>Latest Appearance: {{values[0].source}}</b> {{ values[0].data._recency.substring(0,10) }}</h4>
	<div class="col-md-12">
	  <h4 class="text-muted"><b>Key fields</b></h4>
          <dl class="dl-horizontal">
	    {% for term, definition in key_fields|dictsort %}
              {% if definition %}
                <dt>{{term}}</dt> 
                <dd>
                  {% set definition_string = definition|string %}
                  {% if definition_string and definition_string.substring(0,4) == 'http' %}
                    <a href="{{definition}}">{{definition}}</a>
                  {% else %}
                    {{definition}}
                  {% endif %}
                </dd>
              {% endif %}
            {% endfor %}
	  </dl>
        </div>
        <div class="col-md-12">
          <a data-toggle="collapse" href="#full_record_{{ name|lower|replace(" ","_") }}" aria-expanded="false" aria-controls="collapseExample">
          <b>Full record</b></a>
          <dl class="dl-horizontal collapse" id="full_record_{{ name|lower|replace(" ","_") }}">
            {% for term, definition in values[0].data|dictsort %}
              {% if term[0] != "_" and term != "Done" and definition %}
                <dt>{{term}}</dt> 
                 <dd>
                   {% set definition_string = definition|string %}
                   {% if definition_string and definition_string.substring(0,4) == 'http' %}
                     <a href="{{definition}}">{{definition}}</a>
                   {% else %}
                     {{definition}}
                   {% endif %}
                 </dd>
              {% endif %}
            {% endfor %}
          </dl>
        </div>
      </div>
    </div>
  </div>
</div>
