<div class="panel panel-default">
  <div class="panel-heading"><h5><b> <a href="#" data-toggle="modal" data-source-type="All" data-name-index="{{index}}" data-target="#modal-for-name">  {{ name|title }}  </a></b> {% if info.fuzzy_names|length %} 
    <span class="text-danger margin-left-10"> Matched Names: </span> {{info.fuzzy_names|join(", ")|title}}   {% endif %} </h5>

  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-4">
            <h5> 
              <strong> Total Appearances </strong> <span class="margin-left-10">
                <a href="#" data-toggle="modal" data-source-type="All" data-name-index="{{index}}" data-target="#modal-for-name">{{info.total_sources}}</a>
              </span>
            </h5>
          </div>

          {% for key, value in info.counted_source %}
            <div class="col-md-4">
              <h5> 
                <strong>{{key}}</strong> 
                <span class="margin-left-10">
                  <a href="#" data-toggle="modal" data-source-type="{{key}}" data-name-index="{{index}}" data-target="#modal-for-name">{{value}}</a>
                </span>
              </h5>
            </div>
          {% endfor%}
          {% for key, value in info.counted_name_source %}
            <div class="col-md-4">
              <h5> 
                <strong>{{key}}</strong> 
                <span class="margin-left-10">
                  <a href="#" data-toggle="modal" data-source-type="{{key}}" data-name-index="{{index}}" data-target="#modal-for-name">{{value}}</a>
                </span>
              </h5>
            </div>
          {% endfor%}
        </div>
      </div>
      <div class="col-md-12">
      {% for key, value in info.counted_source %}
        {% if key == "Courts" %}
          <div class="col-md-12 bg-danger">
		<span class="margin-left-5">
		  <h5>This result only indicates a term searched appears on the lists searched. It is your responsibility to verify any actual court appearances, charges, pleas and results independently before publication.</h5>
                </span>
	  </div>
        {% endif %}
      {% endfor %}
      </div>
      <div class="col-md-12">
        <h4 class="text-muted"><b>Latest Appearance: {{matching[0].source}}</b> {% if matching[0].data._recency %} {{ matching[0].data._recency|humanDate }}{% endif %}</h4>
        <div class="col-md-12">
          <h4 class="text-muted"><b>Key fields</b></h4>
          <dl class="dl-horizontal">
	         {% for term in key_fields|sort %}
             {% if matching[0].data[term] %}
               <dt>{{term}}</dt> 
               <dd>
                 {% set definition_string = matching[0].data[term]|string %}
                 {% if definition_string and definition_string.substring(0,4) == 'http' %}
                   <a href="{{matching[0].data[term]}}">{{matching[0].data[term]}}</a>
                 {% else %}
                   {{matching[0].data[term]}}
                 {% endif %}
               </dd>
             {% endif %}
           {% endfor %}
	        </dl>
        </div>
        <div class="col-md-12">
          <a data-toggle="collapse" href="#full_record_{{index}}" aria-expanded="false" aria-controls="collapseExample">
          <b>Full record</b></a>
          <dl class="dl-horizontal collapse full_record" id="full_record_{{index}}">

            {% for term, definition in matching[0].data|dictsort %}
              {% if term[0] != "_" and term != "Done" and definition %}
                <dt>{{term}}</dt> 
                 <dd>
                   {% set definition_string = definition|string %}
                   {% if definition_string and definition_string.substring(0,4) == 'http' %}
                     <a href="{{definition}}">{{definition}}</a>
                   {% else %}
                     {{definition}}
                   {% endif %}
                 </dd>
              {% endif %}
            {% endfor %}
          </dl>
        </div>
      </div>
    </div>
  </div>
</div>
