
{% extends 'base.html' %}
{% block content %}

<nav class="navbar navbar-default">
  <div class="container-fluid">
      <a class="navbar-brand" href="#">Local News Engine</a>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-xs-12 well-lg">
      <div class="col-xs-2"><br /></div>
      <div class="col-xs-8 bg-danger" id="warning">
        <span class="margin-left-5">
          <h4>These results indicate an entry exists in the source. You must verify it is the person you are searching for. An appearance on a court list DOES NOT mean the person actually appeared in court on the date indicated, or on the charges listed, or entered the plea indicated - that must be checked by you before publication</h4>
        </span>
      </div>
      <div class="col-xs-2"><br /><div>
    </div>
  </div>
</div>

<div class="container-fluid">
  {% for item in area_matches[:1000] %}
    <div class="panel panel-default">
      <div class="panel-heading"><h4><b>{{item._source}}</b> {% if item._recency %} {{ item._recency[:10] }} {% endif %}</h4></div>
      <div class="panel-body">
        <dl class="dl-horizontal">
          {%- for key, value in item.items()|sort -%}
            {%- if not key.startswith("_") and key not in ["Done"] -%}
              <dt>{{key}}</dt> 
              <dd>
                {%- if value is string -%}
                   {{" ".join(value.split())}}
                {%- elif value is sequence -%}
                   {{" ".join(", ".join(value).split())}}
                {%- else -%}
                   {{value}}
                {%- endif -%}
              </dd>
            {%- endif -%}
          {%- endfor -%}
        </dl>
      </div>
    </div>
  {% endfor %}
</div>

{% endblock %}

{% block extrapiwik %}
_paq.push(['setCustomUrl', 'local://areas.html']);
_paq.push(['trackPageView']);
{% endblock %}
