
{% extends 'base.html' %}
{% block content %}

<nav class="navbar navbar-default">
  <div class="container-fluid">
      <a class="navbar-brand" href="#">Local News Engine</a>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-xs-4" id="sidebar">
    </div>
    <div class="col-xs-8" id="main">
    </div>
  </div>
</div>


{% endblock %}

{% block modals %}
<div class="modal fade" id="modal-for-name" tabindex="-1" role="dialog" aria-labelledby="{{name}}">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>
{% endblock %}

{% block extra_scripts %}
<script>
PAGE_SIZE = 50

interesting_names = {{interesting_names_json|safe}};
key_fields = {{key_fields_json|safe}};
source_counter = {};
ward_counter = {};

var t0 = performance.now();

interesting_names.forEach(function(item) {
  Object.keys(item[3].counted_source).some(function(source) {
    if (!source_counter[source]) {
      source_counter[source] = 0;
    }
    source_counter[source] += 1;
  })
  item[3].wards = {}
  item[2].forEach(function(appearance) {
    wards = appearance.data._wards || []
    wards.forEach(function (ward) {
      if (!ward_counter[ward]) {
        ward_counter[ward] = 0;
      }
      ward_counter[ward] += 1;
      item[3].wards[ward] = true
    })
  })
})

var t1 = performance.now();
console.log("Summary took " + (t1 - t0) + " milliseconds.")

function name_search(query) {
  var results = [];
  var sources = query.sources || Object.keys(source_counter);
  var wards = query.wards || [];
  var name_search = query.name_search || "";
  var names = [];
  if (name_search) {
    var lowered = name_search.toLowerCase();
    var names_split = lowered.split(" or ");
    names_split.forEach(function (name) {
      names.push(name.trim().split(" "));
    })
  }

  interesting_names.some(function(item, index) {
    var new_item = item.slice()

    var in_sources = Object.keys(item[3].counted_source).some(function(source) {
      return sources.indexOf(source) !== -1
    })
    var in_wards = Object.keys(item[3].wards).some(function(ward) {
      return wards.indexOf(ward) !== -1
    })
    if (wards.length === 0) {
      in_wards = true
    }

    var matching_appearances = item[2].filter(function(appearance) {
      var appearance_wards = appearance.data._wards || []

      var appreance_in_wards = appearance_wards.some(function(ward) {
        return wards.indexOf(ward) !== -1
      })
      if (wards.length === 0) {
        appreance_in_wards = true
      }
      if (appreance_in_wards && 
          sources.indexOf(appearance.source) !== -1) {
        return true
      }
    })

    new_item.push(matching_appearances)


    found = true
    if (name_search) {
      found = names.some(function(name) {
        return name.every(function(split) {
          var name_to_match = item[3].fuzzy_names.join(" ") + " " + item[1]
          if (name_to_match.indexOf(split) !== -1) { return true }
        })
      })
    }

    if (in_sources && in_wards && found) {
      item[3].index = index
      results.push(new_item)
    }
  })
  console.log(results.length)
  
  return results
}

function get_fragment_obj () {
   var hash = window.location.hash;
   var uri = URI(hash);

   var fragment_obj = uri.fragment(true);
   Object.keys(fragment_obj).forEach(function (key) {
     if (!Array.isArray(fragment_obj[key]) && key != "page" && key != "name_search" ) {
       fragment_obj[key] = [fragment_obj[key]]
     }
   })
   return fragment_obj
}


$(function () {
  var rerender = function() {
    var fragment_obj = get_fragment_obj()

    var page_number = 0  
    if (fragment_obj.page) {
      fragment_obj.page = parseInt(fragment_obj.page)
    }
    if (isNaN(fragment_obj.page)) {
      fragment_obj.page = 0
    }
    var current_page = fragment_obj.page

    $("#main").empty()
    $("#modals").empty()
    $(window).scrollTop(0)

    var t0 = performance.now();
    results = name_search(fragment_obj)
    results.sort(function (a,b) {
      if (a[4][0].data._recency < b[4][0].data._recency) return 1;
      if (a[4][0].data._recency > b[4][0].data._recency) return -1;
      return 0; 
    })
    
    var t1 = performance.now();
    console.log("Search took " + (t1 - t0) + " milliseconds.");


    $("#main").append('<h4 class="heading-in-panel"> Matches ' + results.length + '</h4>')
    for (var i = current_page*50; i < Math.min(current_page*50 + 50, results.length)  ; i++) {
      var res = nunjucks.render('name.html', {"name": results[i][1], "values": results[i][2], "info": results[i][3], "index": results[i][3].index, "key_fields": key_fields, "matching": results[i][4]});
      $("#main").append(res)
    }

    var context = {}
    if (current_page > 0) {
      fragment_obj.page = current_page - 1
      context.prev_url = URI('#').fragment(fragment_obj).toString()
    }

    if (current_page * 50 + 50 < results.length) {
      fragment_obj.page = current_page + 1
      context.next_url = URI('#').fragment(fragment_obj).toString()
    }

    var res = nunjucks.render('pager.html', context);
    $("#main").append(res)


    if (fragment_obj.name_search) {
        var search_slug = 'search';
    } else {
        var search_slug = 'nosearch';
    }
    if (fragment_obj.wards) {
        var wards_slug = fragment_obj.wards.join();
    } else {
        var wards_slug = '_';
    }
    if (fragment_obj.sources) {
        var sources_slug = fragment_obj.sources.join();
    } else {
        var sources_slug = '_';
    }
    _paq.push(['setCustomDimension', customDimensionId=1, customDimensionValue=wards_slug]);
    _paq.push(['setCustomDimension', customDimensionId=2, customDimensionValue=sources_slug]);
    _paq.push(['setCustomDimension', customDimensionId=3, customDimensionValue=search_slug]);
    // Track a fake url for this page in piwik
    _paq.push(['setCustomUrl', 'local://names.html/' + search_slug + '/' + wards_slug + '/' + sources_slug + '/page=' + current_page]);
    _paq.push(['trackPageView']);
  }

  var fragment_obj = get_fragment_obj()
  var res = nunjucks.render('sidebar.html', {"source_counter": source_counter, "ward_counter": ward_counter, "fragment_obj": fragment_obj});
  $("#sidebar").append(res)

  window.onhashchange = rerender
  rerender()


  $('#modal-for-name').on('show.bs.modal', function (event) {
    var link = $(event.relatedTarget) // Button that triggered the modal
    var name_index = link.data('name-index') // Extract info from data-* attributes
    var source_type = link.data('source-type') // Extract info from data-* attributes
    var modal = $(this)
    var res = nunjucks.render('name_modal.html', {"name": interesting_names[name_index][1], 
                                                  "values": interesting_names[name_index][2], 
                                                  "info": interesting_names[name_index][3],
                                                  "key_fields": key_fields,
                                                  "source_type": source_type});
    modal.find('.modal-content')[0].innerHTML = res
    _paq.push(['trackEvent', 'modal', 'show'])
  })
  $('#modal-for-name').on('hide.bs.modal', function (event) {
    _paq.push(['trackEvent', 'modal', 'hide'])
  })

  $('.full_record').on('show.bs.collapse', function (event) {
    _paq.push(['trackEvent', 'full_record', 'show'])
  })
  $('.full_record').on('hide.bs.collapse', function (event) {
    _paq.push(['trackEvent', 'full_record', 'hide'])
  })

  $('.source-checkbox').on('change', function (event) {
    var new_source_values = []
    $('#filter-form').serializeArray().forEach(function (item) {
      if (item.name == "sources") {
         new_source_values.push(item.value)
      }
    })
    var fragment_obj = get_fragment_obj()
    fragment_obj.sources = new_source_values
    fragment_obj.page = 0
    var uri = URI('#').fragment(fragment_obj).toString();
    window.location.hash = uri
  })


  $('#name-search').on('input', function (event) {
    var fragment_obj = get_fragment_obj()
    fragment_obj.name_search = $('#name-search').val()
    fragment_obj.page = 0
    var ran = false
    function set_fragment() {
      if (ran) {return}
      var uri = URI('#').fragment(fragment_obj).toString();
      window.location.hash = uri
      ran = true
    }
    setTimeout(set_fragment, 500)
  })

  $('#clear-name-search').on('click', function (event) {
    var fragment_obj = get_fragment_obj()
    $('#name-search').val("")
    fragment_obj.name_search = ""
    fragment_obj.page = 0
    var uri = URI('#').fragment(fragment_obj).toString();
    window.location.hash = uri
  })
  $('#wards select').on('changed.bs.select', function (e) {
    var fragment_obj = get_fragment_obj()
    var value = $('#wards select').val() || []
    fragment_obj.wards = value
    var uri = URI('#').fragment(fragment_obj).toString();
    window.location.hash = uri
  })

})
    
</script>
{% endblock %}
