{% extends 'base.html' %}
{% block content %}

<nav class="navbar navbar-default">
  <div class="container-fluid">
      <a class="navbar-brand" href="#">Local News Engine</a>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-xs-4" id="sidebar">
    </div>
    <div class="col-xs-8" id="main">
    </div>
  </div>
</div>


{% endblock %}

{% block extra_scripts %}
<script>
PAGE_SIZE = 50

appearances = {{appearances|safe}};
key_fields = {{key_fields_json|safe}};
source_counter = {};
ward_counter = {};

var t0 = performance.now();

appearances.forEach(function(appearance) {
  if (!source_counter[appearance._source]) {
    source_counter[appearance._source] = 0;
  }
  source_counter[appearance._source] += 1;

  appearance._all_text = Object.keys(appearance).map(function (key) {
    if (appearance[key]) {
      return appearance[key].toString().toLowerCase()
    }
    return ""
  }).join(" ")

  appearance._wards.forEach(function (ward) {
    if (!ward_counter[ward]) {
      ward_counter[ward] = 0;
    }
    ward_counter[ward] += 1;
  })
})

var t1 = performance.now();
console.log("Summary took " + (t1 - t0) + " milliseconds.")

function search(query) {
  var results = [];
  var sources = query.sources || [];
  var wards = query.wards || [];
  var text_search = query.text_search || ""

  var text = []
  if (text_search) {
    var lowered = text_search.toLowerCase();
    var text_split = lowered.split(" or ");
    text_split.forEach(function (name) {
      text.push(name.trim().split(" "));
    })
  }

  appearances.some(function(item, index) {
    var in_sources = false
    if (sources.indexOf(item._source) !== -1 || sources.length == 0) {
      in_sources = true
    }

    if (text_search) {
      var text_search_found = text.some(function(string) {
        return string.every(function(split) {
          var text_to_match = item._all_text
          if (text_to_match.indexOf(split) === 0 || text_to_match.indexOf(" " + split) !== -1) { return true }
        })
      })
    } else {
      var text_search_found = true
    } 


    var appereance_in_wards = item._wards.some(function(ward) {
      return wards.indexOf(ward) !== -1
    })

    if (wards.length == 0) {
      appereance_in_wards = true
    }

    if (in_sources && appereance_in_wards && text_search_found ) {
      results.push(item)
    }
  })
  console.log(results.length)
  
  return results
}

function get_fragment_obj () {
   var hash = window.location.hash;
   var uri = URI(hash);

   var fragment_obj = uri.fragment(true);
   Object.keys(fragment_obj).forEach(function (key) {
     if (!Array.isArray(fragment_obj[key]) && key != "page" && key != "name_search" && key != "text_search" ) {
       fragment_obj[key] = [fragment_obj[key]]
     }
   })
   return fragment_obj
}


$(function () {
  var rerender = function() {
    var fragment_obj = get_fragment_obj()
    if (Object.keys(fragment_obj).length === 0) {
      var res = env.render('sidebar_area.html', {"source_counter": source_counter, "ward_counter": ward_counter, "fragment_obj": fragment_obj});
      $("#sidebar").empty(res)
      $("#sidebar").append(res)
      $('.selectpicker').selectpicker('render');
    }

    var page_number = 0  
    if (fragment_obj.page) {
      fragment_obj.page = parseInt(fragment_obj.page)
    }
    if (isNaN(fragment_obj.page)) {
      fragment_obj.page = 0
    }
    var current_page = fragment_obj.page


    $("#main").empty()
    $("#modals").empty()
    $(window).scrollTop(0)

    var t0 = performance.now();
    results = search(fragment_obj)
    var t1 = performance.now();
    console.log("Search took " + (t1 - t0) + " milliseconds.");


    var res = nunjucks.render('result_header_area.html', {"result_size": results.length, "query": fragment_obj});
    $("#main").append(res)

    for (var i = current_page*50; i < Math.min(current_page*50 + 50, results.length)  ; i++) {
      var res = nunjucks.render('appearance.html', {"appearance": results[i], "key_fields": key_fields, "index": i});
      $("#main").append(res)
    }

    var context = {}
    if (current_page > 0) {
      fragment_obj.page = current_page - 1
      context.prev_url = URI('#').fragment(fragment_obj).toString()
    }

    if (current_page * 50 + 50 < results.length) {
      fragment_obj.page = current_page + 1
      context.next_url = URI('#').fragment(fragment_obj).toString()
    }

    var res = nunjucks.render('pager.html', context);
    $("#main").append(res)

  }

  var fragment_obj = get_fragment_obj()
  var res = nunjucks.render('sidebar_area.html', {"source_counter": source_counter, "ward_counter": ward_counter, "fragment_obj": fragment_obj});
  $("#sidebar").append(res)

  window.onhashchange = rerender
  rerender()


  $('.container').on('change', '.source-checkbox' , function (event) {
    var new_source_values = []
    $('#filter-form').serializeArray().forEach(function (item) {
      if (item.name == "sources") {
         new_source_values.push(item.value)
      }
    })
    var fragment_obj = get_fragment_obj()
    fragment_obj.sources = new_source_values
    fragment_obj.page = 0
    var uri = URI('#').fragment(fragment_obj).toString();
    window.location.hash = uri
  })

  var text_search_timer
  $('.container').on('input', '#text-search', function (event) {
    var fragment_obj = get_fragment_obj()
    fragment_obj.text_search = $('#text-search').val()
    fragment_obj.page = 0
    function set_fragment() {
      var uri = URI('#').fragment(fragment_obj).toString();
      window.location.hash = uri
    }
    text_search_timer && clearTimeout(text_search_timer);
    text_search_timer = setTimeout(set_fragment, 450)
  })

  $('.container').on('click', '#clear-text-search', function (event) {
    var fragment_obj = get_fragment_obj()
    $('#text-search').val("")
    fragment_obj.text_search = ""
    fragment_obj.page = 0
    var uri = URI('#').fragment(fragment_obj).toString();
    window.location.hash = uri
  })

  $('.container').on('changed.bs.select', '#wards select', function (e) {
    var fragment_obj = get_fragment_obj()
    var value = $('#wards select').val() || []
    fragment_obj.wards = value
    var uri = URI('#').fragment(fragment_obj).toString();
    window.location.hash = uri
  })

})
    
</script>
{% endblock %}
